/* 内外边距 */
.p-2{
	padding: 20rpx;
}
.px-1{
	padding-left: 10rpx;
	padding-right: 10rpx;
}
.px-2{
	padding-left: 20rpx;
	padding-right: 20rpx;
}
.px-3{
	padding-left: 30rpx;
	padding-right: 30rpx;
}
.px-4{
	padding-left: 40rpx;
	padding-right: 40rpx;
}
.px-5{
	padding-left: 50rpx;
	padding-right: 50rpx;
}

.py-1{
	padding-top: 10rpx;
	padding-bottom: 10rpx;
}
.py-2{
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}
.py-3{
	padding-top: 30rpx;
	padding-bottom: 30rpx;
}
.py-4{
	padding-top: 40rpx;
	padding-bottom: 40rpx;
}
.py-5{
	padding-top: 50rpx;
	padding-bottom: 50rpx;
}


/* 外边距 */
.mr-1{
	margin-right: 10rpx;
}
.mr-2{
	margin-right: 20rpx;
}
.mr-3{
	margin-right: 30rpx;
}
.mr-4{
	margin-right: 40rpx;
}

/* 宽度 */
/* #ifndef APP-PLUS-NVUE */
	.w-100{
		width: 100%;
	}
/* #endif */

/* flex布局 */
.flex{
	display: flex;
}
.align-center{
	align-items: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.flex-1{
	flex: 1;
}

/* 圆角 */
.rounded{
	border-radius: 8rpx;
}
.rounded-top{
	border-top-right-radius: 8rpx;
	border-top-left-radius: 8rpx;
}
.rounded-right{
	border-top-right-radius: 8rpx;
	border-bottom-right-radius: 8rpx;
}
.rounded-bottom{
	border-bottom-right-radius: 8rpx;
	border-bottom-left-radius: 8rpx;
}
.rounded-left{
	border-top-left-radius: 8rpx;
	border-bottom-left-radius: 8rpx;
}
.rounded-circle{
	border-radius: 100rpx;
}
.rounded-0{
	border-radius: 0;
}

/* 文字大小 */ 
.font-smaller {font-size: 15rpx;}
.font-small {font-size: 20rpx;}
.font-sm {font-size: 25rpx;}
.font {font-size: 30rpx;}
.font-md {font-size: 35rpx;}
.font-lg {font-size: 40rpx;}
.font-big {font-size: 60rpx;}
.h1 {font-size: 80rpx;line-height: 1.8;}
.h2 {font-size: 60rpx;line-height: 1.8;}
.h3 {font-size: 45rpx;line-height: 1.8;}
.h4 {font-size: 32rpx;line-height: 1.8;}
.h5 {font-size: 30rpx;line-height: 1.8;}
.h6 {font-size: 28rpx;line-height: 1.8;}

/* 文字颜色 */
.text-wihte{color: #FFFFFF;}
.text-primary{color: #007bff;}
.text-hover-primary{color: #0056b3;}
.text-secondary{color: #6c757d;}
.text-hover-secondary{color: #494f54;}
.text-successs{color: #28a745;}
.text-hover-success{color: #19692c;}
.text-info{color: #17a2b8;}
.text-hover-info{color: #0f6674;}
.text-warning{color: #ffc107;}
.text-hover-warning{color: #ba8b00;}
.text-danger{color: #dc3545;}
.text-hover-danger{color: #a71d2a;}
.text-light{color: #f8f9fa;}
.text-hover-light{color: #cbd3da;}
.text-dark{color: #343a40;}
.text-hover-dark{color: #121416;}
.text-body{color: #212529;}
.text-muted{color: #6c757d;}
/* 浅灰色 */
.text-light-muted{color: #a9a5a0;}
.text-light-black{color: rgba(0,0,0,0.5);}
.text-light-dark{color: rgba(255,255,255,0.5);}

/* 字体加粗 */
.font-weight-bold{
	font-weight: bold;
}

/* scroll-view滚动 */
/* #ifndef APP-PLUS-NVUE */
.scroll-row{width: 100%;white-space: nowrap;}
.scroll-row-item{display: inline-block!important;}
/* #endif */
